body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}
h1 {
    background-color: #e93d3d;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}
.buttons {
    display: flex;
    justify-content: space-around;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: #8ac6d1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e32c2c;
}